<div class="container">
<<<<<<< HEAD
  <h1 class="text-center"> Notebooks </h1>
  <section class="row text.center">
    <a href="<%= new_task_path %>" class='btn btn-primary'> New </a>
=======
  <hi class="text-center"> NOTEBOOKS </hi>
  <section class="row text.center">
    <a href="<%= new_notebook_path %>" class="btn btn-default"> New </a>
>>>>>>> fd5cfce1bb25e74301cc0381223eb6781a0d1f60
  </section>
  <% @notebooks.each do |n| %>
  <table class="table table-hover table-striped">
    <thead>
      <th>Subject</th>
      <th></th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td><%= n.subject %></td>
        <td><a href="<%= notebook_path(n.id) %>" data-method="delete" class="btn btn-danger"> Delete </a></li>
        <td><a href="<%= edit_notebook_path(n.id) %>" class="btn btn-primary"> Edit </a></li>
        <td><a href="<%= notebook_path(n.id) %>" class="btn btn-info"> Show </a></li>
      </tr>
    </tbody>
  </table>
  <% end if @notebooks.any? %>
</div>
