<% form_name ||= "Tasks" %>
<h1 class="text-center">  <%= form_name %> Task </h1>
<%= form_for @task , method: (form_name.downcase == 'edit' ? 'put' : 'post') do |f| %>
  <% if @task.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@task.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @task.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <div class="form-group">
    <%= f.label :title%>
    <%= f.text_field :title, class: "form-control" %>
    <%= f.label :description%>
    <%= f.text_field :description, class: "form-control" %>
    <%= f.label :create_date%>
    <%= f.datetime_select :create_date, class: "col-md-12 form-control" %>
    <%= f.label :end_date%>
    <%= f.datetime_select :end_date, class: "col-md-12 form-control" %>
    <%= f.label :due_date%>
    <%= f.datetime_select :due_date, class: "col-md-12 form-control" %>
    <%= f.label :priority%>
    <%= f.number_field :priority, class: "form-control" %>
  </div>
  <%= f.submit "#{form_name} tasks", class: "btn btn-primary" %>
  <a href="<%= tasks_path %>" class="btn btn-default"> View all </a>
<% end %>
