<h1>TASKS</h1>
<table class="table table-hover table-striped">
  <thead>
    <th>Title</th>
    <th>Description</th>
    <th>Creation Date</th>
    <th>Due Date</th>
    <th>Finished Date</th>
    <th>Priority</th>
  </thead>
  <tbody>

  <tr>
    <% @tasks.each do |task| %>
    <td><%= task.title %></td>
    <td><%= task.description %></td>
    <td><%= task.create_date %></td>
    <td><%= task.due_date %></td>
    <td><%= task.end_date %></td>
    <td><%= task.priority %></td>
  </tr>
</tbody>
</table>
<% end %>
